# Miscellaneous
*.class
*.log
*.pyc
*.swp
Grader for Mashov/.DS_Store
Grader for Mashov/.atom/
Grader for Mashov/.buildlog/
Grader for Mashov/.history
Grader for Mashov/.svn/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

Grader for Mashov/.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
Grader for Mashov/.dart_tool/
Grader for Mashov/.flutter-plugins
Grader for Mashov/.flutter-plugins-dependencies
Grader for Mashov/.packages
Grader for Mashov/.pub-cache/
Grader for Mashov/.pub/
Grader for Mashov/build/

# Web related
Grader for Mashov/lib/generated_plugin_registrant.dart

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
Grader for Mashov/android/app/debug
Grader for Mashov/android/app/profile
Grader for Mashov/android/app/release
